misato/1A4G_final_animation.pdb
misato/1CNX_final_animation.pdb
misato/*.zip
misato/all_misato_anim/
misato/all_atoms_11GS.hdf5

# misato/1A4G_frames
# misato/1CNX_frames

**/__pycache__/

ckpt/*.ckpt
analysis_combined_pdbs/**
og_crystal_structs/**
